<header>
  <h1>{{title}}</h1>

  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/weather?lat=-0.1275&long=51.50722">Weather</a>
  </div>
</header>